:root {
  --backgroundColor: #2d4356;
  --backgroundColor2: #435b66;
  --primaryFontColor: #eab2a0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primaryFontColor);
  background-color: var(--backgroundColor);
}

a {
  color: inherit;
  text-decoration: none;
}
svg {
  vertical-align: sub;
}
header {
  padding: 10px;
  text-align: center;
}
.navLink {
  display: inline-block;
  padding: 10px;
  background-color: var(--backgroundColor2);
  margin-right: 4px;
}
.navLink:last-child {
  margin-right: 0;
}
